.statusbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
   
    justify-content: flex-end;
    padding: 1rem;
}
.xx{
    position: absolute;
    left: 45%;
    
}
img{
    padding: 0.5rem;
}